@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 90px;
$gutter: 0px;
$grid-columns: 4;
$max-width: 960px;

// Define your breakpoints
$medium-breakpoint: new-breakpoint(min-width em(560) 12);
$large-breakpoint: new-breakpoint(min-width em(800) 12);

// Guidelines
$visual-grid: false; // Override to show the vertical columns
$visual-grid-index: 500; // Ensures that the grid is (mostly) on top
