body {
  background-image: url('images/background.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #fff;
  @include background-cover;
}

.outer-container {
  @include outer-container;
}

.column {
  @include span-columns(2 of 4);

  @include media($medium-breakpoint) {
    @include span-columns(4 of 12);
  }

  @include media($large-breakpoint) {
    @include span-columns(3 of 12);
  }
}

.full-width {
  @include span-columns(4 of 4);

  @include media($medium-breakpoint) {
    @include span-columns(12 of 12);
  }
}

.section:before {
  @include opacity-25;
  width: 90%;
  clear: left;
  display: block;
  content: "";
  border-bottom: 1px dashed $dark-blue;

  margin: 60px auto;

  @include media($medium-breakpoint) {
    margin: 70px auto;
  }

  @include media($large-breakpoint) {
    margin: 80px auto;
  }
}

.clear-left {
  clear: left;
}

.social-container {
  max-width: 332px;
  margin: 0 auto;

  @include media($medium-breakpoint) {
    max-width: 480px;
  }
}
