.page-title {
  margin: 40px 0;
}

.introduction {
  margin: 0 40px;
  @include media($medium-breakpoint) {
    margin: 0 80px;
  }
}

.website-introduction {
  margin: 0 60px;
  @include media($medium-breakpoint) {
    margin: 0 120px;
  }
}

.photos {
  .photoset-photo-container {
    background-color: $light-blue;
    position: relative;
    overflow: hidden;

    transition: all 200ms 0ms ease-in;
    @include opacity-0;
  }

  .photoset-photo-container:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .loaded {
    @include opacity-100;
  }

  .photo {
    background-position: center center;
    background-repeat: no-repeat;
    @include background-cover;
    @include absolute-full-screen;

    &:hover {
      .photo-title-container {
        @include opacity-100;
      }
    }
  }

  .photo-title-container {
    transition: all 150ms 0ms ease-in;
    @include opacity-0;

    display: table;
    width: 100%;
    height: 100%;
  }

  .photo-title {
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 15%;
  }

  .photo-title-highlight {
    @include opacity-75;
    background-color: $dark-blue;
    padding: 8px 0;
  }
}

.load-more {
  background-color: $light-blue;
  margin-bottom: 40px;
  padding: 12px;

  font-family: $load-more-font-family;
  font-size: 0.7em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $dark-blue;

  &:hover {
    background-color: $dark-blue;
    @include hover-transition;
    color: white;
  }
}

