<template name='social'>
  <aside class='social social-container'>
    <p class='social-text'>Follow, tweet or connect with me:</p>
    <a href='https://github.com/tomsabin' class='social-icon github' alt='GitHub' title='Follow me on GitHub'></a>
    <a href='https://twitter.com/tomsabin' class='social-icon twitter' alt='Twitter' title='Tweet me on Twitter'></a>
    <a href='https://www.linkedin.com/pub/tom-sabin/46/380/328' class='social-icon linkedin' alt='LinkedIn' title='Connect with me on LinkedIn'></a>
    <a href='https://www.facebook.com/tomsabin' class='social-icon facebook' alt='Facebook' title='Friend me on Facebook'></a>
    <a href='http://www.last.fm/user/tomsabin' class='social-icon lastfm' alt='LastFm' title='Listen with me on Last.fm'></a>
    <a href='http://www.flickr.com/photos/tom-sabin' class='social-icon flickr' alt='Flickr' title='Follow me on Flickr'></a>
    <a href='http://tomsabin.tumblr.com/' class='social-icon tumblr' alt='Tumblr' title='Follow me on Tumblr'></a>
  </aside>
</template>
