/* line 2, ../../../packages/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../sass/_layout.scss */
body {
  background-image: url("images/background.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

/* line 10, ../sass/_layout.scss */
.outer-container {
  *zoom: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, ../../../packages/bourbon/addons/_clearfix.scss */
.outer-container:before, .outer-container:after {
  content: " ";
  display: table;
}
/* line 23, ../../../packages/bourbon/addons/_clearfix.scss */
.outer-container:after {
  clear: both;
}

/* line 14, ../sass/_layout.scss */
.column {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
}
/* line 40, ../../../packages/neat/grid/_span-columns.scss */
.column:last-child {
  margin-right: 0;
}
@media screen and (min-width: 35em) {
  /* line 14, ../sass/_layout.scss */
  .column {
    float: left;
    display: block;
    margin-right: 0%;
    width: 33.33333%;
  }
  /* line 40, ../../../packages/neat/grid/_span-columns.scss */
  .column:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 50em) {
  /* line 14, ../sass/_layout.scss */
  .column {
    float: left;
    display: block;
    margin-right: 0%;
    width: 25%;
  }
  /* line 40, ../../../packages/neat/grid/_span-columns.scss */
  .column:last-child {
    margin-right: 0;
  }
}

/* line 26, ../sass/_layout.scss */
.full-width {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
}
/* line 40, ../../../packages/neat/grid/_span-columns.scss */
.full-width:last-child {
  margin-right: 0;
}
@media screen and (min-width: 35em) {
  /* line 26, ../sass/_layout.scss */
  .full-width {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
  }
  /* line 40, ../../../packages/neat/grid/_span-columns.scss */
  .full-width:last-child {
    margin-right: 0;
  }
}

/* line 34, ../sass/_layout.scss */
hr {
  clear: both;
  border: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  -khtml-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
  border-bottom: 1px dashed #2a3c46;
  margin: 60px 40px;
}
@media screen and (min-width: 35em) {
  /* line 34, ../sass/_layout.scss */
  hr {
    margin: 70px 20px;
  }
}
@media screen and (min-width: 50em) {
  /* line 34, ../sass/_layout.scss */
  hr {
    margin: 80px 0;
  }
}

/* line 49, ../sass/_layout.scss */
.social-container {
  max-width: 332px;
  margin: 0 auto;
}
@media screen and (min-width: 35em) {
  /* line 49, ../sass/_layout.scss */
  .social-container {
    max-width: 480px;
  }
}

/* line 1, ../sass/_typography.scss */
h1 {
  font-size: 3em;
}
@media screen and (min-width: 35em) {
  /* line 1, ../sass/_typography.scss */
  h1 {
    font-size: 3.75em;
  }
}
@media screen and (min-width: 50em) {
  /* line 1, ../sass/_typography.scss */
  h1 {
    font-size: 4.5em;
  }
}

/* line 13, ../sass/_typography.scss */
h2 {
  font-size: 1.5em;
  line-height: 1.15em;
}
@media screen and (min-width: 35em) {
  /* line 13, ../sass/_typography.scss */
  h2 {
    font-size: 1.75em;
  }
}
@media screen and (min-width: 50em) {
  /* line 13, ../sass/_typography.scss */
  h2 {
    font-size: 2em;
  }
}

/* line 26, ../sass/_typography.scss */
p {
  font-size: 1em;
  line-height: 1.15em;
}

/* line 33, ../sass/_typography.scss */
h2,
p,
.photo-title {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman";
}

/* line 39, ../sass/_typography.scss */
.link,
.link:active,
.link:visited {
  color: #2a3c46;
  text-decoration: none;
  border-bottom: 1px dotted #2a3c46;
}
/* line 44, ../sass/_typography.scss */
.link:hover,
.link:active:hover,
.link:visited:hover {
  border-bottom: none;
}

/* line 49, ../sass/_typography.scss */
.bold {
  font-weight: 800;
}

/* line 53, ../sass/_typography.scss */
.page-title {
  text-transform: uppercase;
  font-family: "Helvetica Neue", "Helvetica", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
  text-align: center;
  color: #2a3c46;
}

/* line 62, ../sass/_typography.scss */
.introduction,
.website-introduction {
  text-align: center;
}

/* line 67, ../sass/_typography.scss */
.photo-title {
  color: white;
}

/* line 1, ../sass/_photoset.scss */
.page-title {
  margin: 40px 0;
}

/* line 5, ../sass/_photoset.scss */
.introduction {
  margin: 0 40px;
}
@media screen and (min-width: 35em) {
  /* line 5, ../sass/_photoset.scss */
  .introduction {
    margin: 0 80px;
  }
}

/* line 12, ../sass/_photoset.scss */
.website-introduction {
  margin: 0 60px;
}
@media screen and (min-width: 35em) {
  /* line 12, ../sass/_photoset.scss */
  .website-introduction {
    margin: 0 120px;
  }
}

/* line 20, ../sass/_photoset.scss */
.photos .photoset-photo-container {
  background-color: #80b7d8;
  position: relative;
  overflow: hidden;
  transition: all 200ms 0ms ease-in;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
/* line 29, ../sass/_photoset.scss */
.photos .photoset-photo-container:before {
  content: '';
  display: block;
  padding-top: 100%;
}
/* line 35, ../sass/_photoset.scss */
.photos .loaded {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* line 39, ../sass/_photoset.scss */
.photos .photo {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
/* line 46, ../sass/_photoset.scss */
.photos .photo:hover .photo-title-container {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* line 52, ../sass/_photoset.scss */
.photos .photo-title-container {
  transition: all 150ms 0ms ease-in;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  display: table;
  width: 100%;
  height: 100%;
}
/* line 61, ../sass/_photoset.scss */
.photos .photo-title {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 15%;
}
/* line 68, ../sass/_photoset.scss */
.photos .photo-title-highlight {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -khtml-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
  background-color: #2a3c46;
  padding: 8px 0;
}

/* line 75, ../sass/_photoset.scss */
.load-more {
  background-color: #80b7d8;
  margin-bottom: 40px;
  padding: 12px;
  font-family: "Helvetica Neue", "Helvetica", "Helvetica", "Arial", sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #2a3c46;
}
/* line 87, ../sass/_photoset.scss */
.load-more:hover {
  background-color: #2a3c46;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: white;
}

/* line 1, ../sass/_photo.scss */
.photo-blur {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #80b7d8;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-filter: blur(80px);
  -ms-filter: blur(80px);
  filter: blur(80px);
  z-index: -1;
}

/* line 18, ../sass/_photo.scss */
.photo-container {
  *zoom: 1;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
/* line 18, ../../../packages/bourbon/addons/_clearfix.scss */
.photo-container:before, .photo-container:after {
  content: " ";
  display: table;
}
/* line 23, ../../../packages/bourbon/addons/_clearfix.scss */
.photo-container:after {
  clear: both;
}
@media screen and (min-width: 35em) {
  /* line 18, ../sass/_photo.scss */
  .photo-container {
    padding: 30px;
  }
}
@media screen and (min-width: 50em) {
  /* line 18, ../sass/_photo.scss */
  .photo-container {
    padding: 40px;
  }
}
/* line 30, ../sass/_photo.scss */
.photo-container .photo {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%;
  margin-bottom: 4px;
  margin-top: 20px;
}
/* line 40, ../../../packages/neat/grid/_span-columns.scss */
.photo-container .photo:last-child {
  margin-right: 0;
}
@media screen and (min-width: 35em) {
  /* line 30, ../sass/_photo.scss */
  .photo-container .photo {
    float: left;
    display: block;
    margin-right: 0%;
    width: 100%;
    margin-bottom: -4px;
    margin-top: 30px;
    padding: 4px;
  }
  /* line 40, ../../../packages/neat/grid/_span-columns.scss */
  .photo-container .photo:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 50em) {
  /* line 30, ../sass/_photo.scss */
  .photo-container .photo {
    margin-top: 80px;
  }
}
/* line 47, ../sass/_photo.scss */
.photo-container .photo-additional {
  min-height: 64px;
  clear: left;
}
@media screen and (min-width: 35em) {
  /* line 47, ../sass/_photo.scss */
  .photo-container .photo-additional {
    border-spacing: 4px;
    border-collapse: separate;
    border-right: none;
    border-left: none;
    display: table;
    width: 100%;
    clear: none;
  }
}
/* line 62, ../sass/_photo.scss */
.photo-container .photo-title {
  float: left;
  background-color: #80b7d8;
  margin-bottom: 4px;
  padding: 8px;
  width: 100%;
}
@media screen and (min-width: 35em) {
  /* line 62, ../sass/_photo.scss */
  .photo-container .photo-title {
    vertical-align: middle;
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 0;
    padding: 0 12px;
    display: table-cell;
    float: none;
    width: auto;
  }
}
/* line 82, ../sass/_photo.scss */
.photo-container .view-on-flickr,
.photo-container .close-photo {
  background-color: #80b7d8;
  display: inline-block;
  height: 64px;
  width: 64px;
  float: right;
  clear: left;
  margin-left: 4px;
}
/* line 70, ../sass/_mixins.scss */
.photo-container .view-on-flickr:hover,
.photo-container .close-photo:hover {
  background-color: #2a3c46;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
@media screen and (min-width: 35em) {
  /* line 82, ../sass/_photo.scss */
  .photo-container .view-on-flickr,
  .photo-container .close-photo {
    margin-left: 0;
    display: table-cell;
    clear: none;
    float: none;
  }
}
/* line 96, ../sass/_photo.scss */
.photo-container .view-on-flickr {
  background-image: url("images/social-flickr.png");
}
/* line 100, ../sass/_photo.scss */
.photo-container .close-photo {
  background-image: url("images/back-button.png");
}

/* line 1, ../sass/_social_links.scss */
.social {
  margin-bottom: 40px;
  text-align: center;
  clear: left;
}
@media screen and (min-width: 35em) {
  /* line 1, ../sass/_social_links.scss */
  .social {
    margin-bottom: 80px;
  }
}
/* line 10, ../sass/_social_links.scss */
.social .social-text {
  margin-bottom: 12px;
}
/* line 14, ../sass/_social_links.scss */
.social .social-icon {
  background-color: #80b7d8;
  display: inline-block;
  height: 64px;
  width: 64px;
}
/* line 70, ../sass/_mixins.scss */
.social .social-icon:hover {
  background-color: #2a3c46;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
/* line 18, ../sass/_social_links.scss */
.social .linkedin {
  background-image: url("images/social-linkedin.png");
}
/* line 22, ../sass/_social_links.scss */
.social .github {
  background-image: url("images/social-github.png");
}
/* line 26, ../sass/_social_links.scss */
.social .facebook {
  background-image: url("images/social-facebook.png");
}
/* line 30, ../sass/_social_links.scss */
.social .twitter {
  background-image: url("images/social-twitter.png");
}
/* line 34, ../sass/_social_links.scss */
.social .lastfm {
  background-image: url("images/social-lastfm.png");
}
/* line 38, ../sass/_social_links.scss */
.social .flickr {
  background-image: url("images/social-flickr.png");
}
/* line 42, ../sass/_social_links.scss */
.social .tumblr {
  background-image: url("images/social-tumblr.png");
}

/* line 1, ../sass/_iron-router-progress.scss */
#iron-router-progress {
  background-color: #2a3c46;
  box-shadow: none;
  height: 8px;
}
